<div id="bubble-sort-root">
  <div class="animation-container">
    <div class="example-box" fxLayout="row" fxLayoutAlign="center center">
      <div class="array-element-box element-1">
        <label>3</label>
      </div>
      <div class="array-element-box element-2">
        <label>5</label>
      </div>
      <div class="array-element-box element-3">
        <label>7</label>
      </div>
      <div class="array-element-box element-4">
        <label>1</label>
      </div>
    </div>
    <div class="example-controls">
    </div>
  </div>
</div>