@import '../../../../styles/theme/theme';

#algorithms-root {
  width: 100%;
  height: calc(100% - 3em);
  padding: 1em 0 0 0;
  margin: 0;

  .header {

    h2 {
      margin: 0;
      font-size: 2rem;
      font-weight: 700;
      color: getSecondaryColor();
    }
  }
}