@import '../../../../styles/theme/theme';

#algorithms-root {
  width: 100%;
  height: calc(100% - 3em);
  padding: 1em 0 0 0;
  margin: 0;

  .algorithms-header {

    h2 {
      margin: 0.5em 0 1em 0;
      font-size: 2rem;
      font-weight: 700;
      color: getSecondaryColor();
    }
  }

  .algorithms-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));;
    gap: 1em;

    .algorithm-box {
      border: 0.0625em solid transparent;
      border-radius: 0.8em;
      background-color: #FFF;
      box-shadow: 0 0 0.75em #C7C7C7;
      padding: 1em;
      cursor: pointer;

      h4 {
        font-family: getApplicationFont();
        font-size: 1.5rem;
        font-weight: 700;
        color: getSecondaryColor();
        margin: 0;
      }

      p {
        font-family: getApplicationFont();
        font-size: 1.125rem;
        font-weight: 500;
        color: rgba(getSecondaryColor(), 0.5);
        margin: 0.2em 0 1em 0;
      }

      .bottom-stats {

        .start {

          i {
            font-size: 1.2rem;
            color: getSecondaryColor();
          }
        }

        .end {

          label {
            font-family: getApplicationFont();
            font-size: 1rem;
            font-weight: 400;
            color: getSecondaryColor();
            margin: 0;
            cursor: pointer;

            span {
              color: getPrimaryColor();
            }
          }
        }
      }
    }
  }
}