@import '../../../../../../styles/theme/theme';

#algorithm-content-root {
  width: 100%;
  height: 100%;

  .algorithm-content-header {
    height: calc(3em + 1.5em);

    h2 {
      margin: 0.5em 0 1em 0;
      font-size: 2rem;
      font-weight: 700;
      color: getSecondaryColor();
    }
  }

  .animation-container {
    width: 100%;
    height: calc(100% - (3em + 1.5em));
    
    display: grid;
    grid-template-rows: calc(100% - 5em) 4em;
    row-gap: 1em;

    .example-box {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      border: 0.0625em solid transparent;
      border-radius: 0.8em;
      background-color: #FFF;
      box-shadow: 0 0 0.75em #C7C7C7;
    }

    .example-controls {
      
      lib-progress-bar {
        width: calc(100% - 7.5em);

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}