/*
  Theme variables declared here
*/

// * COLORS *
$primary-color: #DE3C4B;
$secondary-color: #0D1B1E;
$tertiary-color: #79B791;

$light-color-1: #FFFCF2;
$light-color-2: #F5F1E3;

// * END *

// * FONTS *
$font-family: 'Baloo 2', cursive, sans-serif;
// * END *